<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-twilio-video" version="3.3.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TwilioVideo</name>
    <author>Okode</author>
    <license>MIT</license>
    <js-module name="twiliovideo" src="www/twiliovideo.js">
        <clobbers target="window.twiliovideo" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-ios" version=">=5.0.0" />
    </engines>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="TwilioVideoPlugin">
                <param name="ios-package" value="TwilioVideoPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/TwilioVideoPlugin.h" />
        <source-file src="src/ios/TwilioVideoPlugin.m" />
        <header-file src="src/ios/TwilioVideoPermissions.h" />
        <source-file src="src/ios/TwilioVideoPermissions.m" />
        <header-file src="src/ios/TwilioVideoViewController.h" />
        <source-file src="src/ios/TwilioVideoViewController.m" />
        <header-file src="src/ios/TwilioVideoManager.h" />
        <source-file src="src/ios/TwilioVideoManager.m" />
        <header-file src="src/ios/TwilioVideoConfig.h" />
        <source-file src="src/ios/TwilioVideoConfig.m" />
        <resource-file src="src/ios/Resources/TwilioVideo.storyboard" target="Resources/TwilioVideo.storyboard" />
        <resource-file src="src/ios/Resources/end_call.png" target="Resources/end_call.png" />
        <resource-file src="src/ios/Resources/end_call@2x.png" target="Resources/end_call@2x.png" />
        <resource-file src="src/ios/Resources/end_call@3x.png" target="Resources/end_call@3x.png" />
        <resource-file src="src/ios/Resources/mic.png" target="Resources/mic.png" />
        <resource-file src="src/ios/Resources/mic@2x.png" target="Resources/mic@2x.png" />
        <resource-file src="src/ios/Resources/mic@3x.png" target="Resources/mic@3x.png" />
        <resource-file src="src/ios/Resources/no_mic.png" target="Resources/no_mic.png" />
        <resource-file src="src/ios/Resources/no_mic@2x.png" target="Resources/no_mic@2x.png" />
        <resource-file src="src/ios/Resources/no_mic@3x.png" target="Resources/no_mic@3x.png" />
        <resource-file src="src/ios/Resources/video.png" target="Resources/video.png" />
        <resource-file src="src/ios/Resources/video@2x.png" target="Resources/video@2x.png" />
        <resource-file src="src/ios/Resources/video@3x.png" target="Resources/video@3x.png" />
        <resource-file src="src/ios/Resources/no_video.png" target="Resources/no_video.png" />
        <resource-file src="src/ios/Resources/no_video@2x.png" target="Resources/no_video@2x.png" />
        <resource-file src="src/ios/Resources/no_video@3x.png" target="Resources/no_video@3x.png" />
        <resource-file src="src/ios/Resources/switch_camera.png" target="Resources/switch_camera.png" />
        <resource-file src="src/ios/Resources/switch_camera@2x.png" target="Resources/switch_camera@2x.png" />
        <resource-file src="src/ios/Resources/switch_camera@3x.png" target="Resources/switch_camera@3x.png" />

        <framework src="TwilioVideo" type="podspec" spec="2.5.6"/>
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="TwilioVideo" spec="2.5.6"/>
            </pods>
        </podspec>

    </platform>
</plugin>
